<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Controle_de_Etiquetas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Controle_de_Etiquetas.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>192.168.25.164</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>edu</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>controle_etiquetas</value>
            </setting>
        </Controle_de_Etiquetas.Properties.Settings>
    </userSettings>
</configuration>
